venv
staticfiles
.vscode/*
.idea/*
accounts/__pycache__/
accounts/migrations/__pycache__/
events/__pycache__/
events/migrations/__pycache__/
inventory/__pycache__/
inventory/migrations/__pycache__/
invoices/__pycache__/
invoices/migrations/__pycache__/
orders/__pycache__/
orders/migrations/__pycache__/
products/__pycache__/
products/migrations/__pycache__/
purchases/__pycache__/
purchases/migrations/__pycache__/
stores/__pycache__/
stores/migrations/__pycache__/
tnmclothing/__pycache__/